ythl {
    position: absolute;
    background-color: rgb(218,232,253);
    z-index: 60;
    top: -3px;
    left: -5px;
    height: calc(100% + 6px);
    width: 11px;
    border-radius: 11px;
}
ythl.description {
    position: absolute;
    background-color: #FFD500;
    z-index: 60;
    top: -3px;
    left: -5px;
    height: calc(100% + 6px);
    width: 11px;
    border-radius: 11px;
}
ythl:hover {
    height: calc(100% + 10px);
    top: -5px;
    z-index: 62;
}

ythl .tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 360px;
    min-height: 30px;
    top: 100%;
    border-radius: 4px;
    margin-left: -180px;
    padding: 6px;
    /* Position the tooltip */
    position: absolute;
    font-size: 13px;
    z-index: 60;
    cursor:default;
}
ythl:hover .tooltip {
    visibility: visible;
}
.html5-video-player {
    overflow: visible;
    /* overflow-x: hidden ; */
    /* overflow-y: visible !important; */
}

#player {
    z-index: 10;
}
